<div class="card text-center form" *ngIf="auth.user | async as user">
    <div class="card-header header-card">
       <h3> Datos del usuario </h3>
    </div>
    <div class="card-body"> 
      <p class="card-text"><strong>Nombre: </strong>{{ user.displayName ? user.displayName : 'No registrado'}}.</p>
      <p class="card-text"><strong>Correo: </strong>{{ user.email }}.</p>
      <p class="card-text"><strong>Celular: </strong>{{ user.phoneNumber ? user.phoneNumber : 'No registrado'}}.</p>
      <a href="#" class="btn btn-primary" (click)="logout()">Salir</a>
    </div>
    <div class="card-footer text-muted footer-card">
        <h3> {{today | date:'dd-MM-yyyy hh:mm:ss a'}}</h3>
    </div>
  </div>